@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 31% 94%;
    --foreground: 0, 0%, 100%, 1;

    --destructive-min: 8 69% 60%;
    --destructive: 8 62% 42%;
    --destructive-max: 8 52% 31%;
    --destructive-foreground: 5 80% 94%;
  }
}

.ck-custom-height .ck-editor__main > .ck-editor__editable {
    height: 300px !important; /* Altura fixa desejada */
    overflow-y: auto !important;
}